In [3]:
!pip install spicy
!pip install statsmodels

Requirement already satisfied: spicy in ./anaconda3/lib/python3.10/site-packages (0.16.0)
Requirement already satisfied: scipy in ./anaconda3/lib/python3.10/site-packages (from spicy) (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in ./anaconda3/lib/python3.10/site-packages (from scipy->spicy) (1.24.3)
Collecting statsmodels
  Downloading statsmodels-0.14.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.1/10.1 MB 40.8 MB/s eta 0:00:00m eta 0:00:01:01:01
Requirement already satisfied: scipy!=1.9.2,>=1.4 in ./anaconda3/lib/python3.10/site-packages (from statsmodels) (1.10.1)
Requirement already satisfied: packaging>=21.3 in ./anaconda3/lib/python3.10/site-packages (from statsmodels) (23.0)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.8/233.8 kB 34.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.18 in ./anaconda3/lib/python3.10/site-packages (from statsmodels) (1.24.3)
Requirement already satisfied: pandas>=1.0 in ./anaconda3/lib/python3.10/site-packages (from statsmodels) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in ./anaconda3/lib/python3.10/site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.10/site-packages (from pandas>=1.0->statsmodels) (2022.7)
Requirement already satisfied: six in ./anaconda3/lib/python3.10/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.3 statsmodels-0.14.0

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

from spicy import stats
from statsmodels.stats.proportion import proportions_ztest

In [6]:
ds = pd.read_csv("mycars.csv")

### 시내에서 구동방식별 데이터수, 평균, 중앙값, 표준편차, min, mix, Q1, Q3

In [4]:
ds_mycars=pd.read_csv("mycars.csv")
df= ds_mycars[['highway_mileage','automatic']]
df.groupby('automatic').describe()

          highway_mileage
                    count       mean       std   min   25%   50%   75%   max
automatic
auto                157.0  22.292994  5.623054  12.0  17.0  22.0  26.0  41.0
manual               77.0  25.779221  5.961772  12.0  23.0  26.0  29.0  44.0

### 시내에서 구동방식별 데이터수, 평균, 중앙값, 표준편차, min, mix, Q1, Q3

In [5]:
df= ds_mycars[['mpg','automatic']]
df.groupby('automatic').describe()

             mpg
           count       mean       std  min   25%   50%   75%   max
automatic
auto       157.0  15.968153  3.848777  9.0  13.0  16.0  18.0  29.0
manual      77.0  18.675325  4.488118  9.0  15.0  18.0  21.0  35.0

### 구동방식에 대한 counts, percents, cumulative counts, cumulative percents

In [19]:
ds = pd.read_csv("mycars.csv")
car = ds[['automatic','model']]
count = car['automatic'].value_counts().sort_index()
cumcnt = np.cumsum(count)
percent = count / sum(count) *100
cumpct = np.cumsum(percent)
count_data = pd.DataFrame({'Count ': count, 'Cumcnt' : cumcnt, 'Percent':percent,'Cumpct':cumpct})
count_data.columns.name = 'Automatic'
count_data

Automatic  Count   Cumcnt    Percent      Cumpct
auto          157     157  67.094017   67.094017
manual         77     234  32.905983  100.000000

### 모델에 대한 counts, percents, cumulative counts, cumulative percents

In [20]:
count = car['model'].value_counts().sort_index()
cumcnt = np.cumsum(count)
percent = count / sum(count) *100
cumpct = np.cumsum(percent)
count_data = pd.DataFrame({'Count ': count, 'Cumcnt' : cumcnt, 'Percent':percent,'Cumpct':cumpct})
count_data.columns.name = 'Model'
count_data

Model                   Count   Cumcnt   Percent      Cumpct
4runner 4wd                  6       6  2.564103    2.564103
a4                           7      13  2.991453    5.555556
a4 quattro                   8      21  3.418803    8.974359
a6 quattro                   3      24  1.282051   10.256410
altima                       6      30  2.564103   12.820513
c1500 suburban 2wd           5      35  2.136752   14.957265
camry                        7      42  2.991453   17.948718
camry solara                 7      49  2.991453   20.940171
caravan 2wd                 11      60  4.700855   25.641026
civic                        9      69  3.846154   29.487179
corolla                      5      74  2.136752   31.623932
corvette                     5      79  2.136752   33.760684
dakota pickup 4wd            9      88  3.846154   37.606838
durango 4wd                  7      95  2.991453   40.598291
expedition 2wd               3      98  1.282051   41.880342
explorer 4wd                 6     104  2.564103   44.444444
f150 pickup 4wd              7     111  2.991453   47.435897
forester awd                 6     117  2.564103   50.000000
grand cherokee 4wd           8     125  3.418803   53.418803
grand prix                   5     130  2.136752   55.555556
gti                          5     135  2.136752   57.692308
impreza awd                  8     143  3.418803   61.111111
jetta                        9     152  3.846154   64.957265
k1500 tahoe 4wd              4     156  1.709402   66.666667
land cruiser wagon 4wd       2     158  0.854701   67.521368
malibu                       5     163  2.136752   69.658120
maxima                       3     166  1.282051   70.940171
mountaineer 4wd              4     170  1.709402   72.649573
mustang                      9     179  3.846154   76.495726
navigator 2wd                3     182  1.282051   77.777778
new beetle                   6     188  2.564103   80.341880
passat                       7     195  2.991453   83.333333
pathfinder 4wd               4     199  1.709402   85.042735
ram 1500 pickup 4wd         10     209  4.273504   89.316239
range rover                  4     213  1.709402   91.025641
sonata                       7     220  2.991453   94.017094
tiburon                      7     227  2.991453   97.008547
toyota tacoma 4wd            7     234  2.991453  100.000000

### 확률 계산 실습 p.231

In [35]:
mu = 175
sigma = 5
x = 180

# 180까지 누적확률 180이하 값
prob = stats.norm.cdf(x,mu,sigma)
print("키가 {0}이상일 경우 {1:.1f}%범위에 위치".format(x,(1-prob)*100))

키가 180이상일 경우 15.9%범위에 위치

### 확률분포 실습 p.233

In [29]:
mu = 12
sigma = 3

x1 = 9
x2 = 15

# prob1 : 누적확률 9 이하 값 계산
prob1 = stats.norm.cdf(x1, mu ,sigma)


# prob2 : 누적확률 15 이하 달릴 확률
prob2 = stats.norm.cdf(x2, mu, sigma)

answer1 = prob2 - prob1
print("1리터를 가지고 9km이상 15km이하 달릴 확률 :{0}\n".format(answer1.round(3)))

answer2 = 1 - prob2
print("1리터를 가지고 15km이상 달릴 확률 :{0}".format(answer2.round(3)))

1리터를 가지고 9km이상 15km이하 달릴 확률 :0.683

1리터를 가지고 15km이상 달릴 확률 :0.159

### p.241

In [37]:
t = 2.0
df = 100

# 누적확률값 계산
prob = stats.t.cdf(t,df)
print(prob.round(3))

0.976

### p.243

In [38]:
chisq = 3.0
df = 8

#누적확률값 계산
prob = stats.chi2.cdf(chisq,df)
print(prob.round(3))

0.066

### p. 247

In [39]:
f = 1.5
dfnum = 10
dfden = 100

# 누적확률값 계산
prob = stats.f.cdf(x = f, dfn = dfnum, dfd = dfden)
print(prob.round(3))

0.85

### p. 253

In [43]:
n = 5
for i in range(n+1):
    prob = stats.binom.pmf(k = i, n = n, p = 0.3)
    print("P(X={0}) = {1:.3f}".format(i,prob))

P(X=0) = 0.168
P(X=1) = 0.360
P(X=2) = 0.309
P(X=3) = 0.132
P(X=4) = 0.028
P(X=5) = 0.002